* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: dimgray;
}

.print-out {
    text-align: center;
    color:dimgray;
    flex:0 0 auto;
}
.line {
    display:flex;
    justify-content: space-between;
}

.roll {
    align-self: center;
    width: 300px;
    padding: 0 8px 0 8px;
    background-color: white ;
}

.roll:after{
    background: 
                linear-gradient(-45deg, transparent 17px, white 0), 
                linear-gradient(45deg, transparent 17px, white  0);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 24px 12px;
    content: "";
    display: block;
    width: 316px;
    height: 12px;
    position: relative;
    top:12px;
    left:-8px;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}
.calculator {
    display:flex;
    flex-direction: column;
    padding:32px;
    border: 2px solid black;
    flex: 1;
    background-color: aquamarine;
}

.display {
    text-align: right;
    border: 2px solid black;
    margin-bottom: 32px;
    height:76px;
    background-color: beige;
    width: 282px;
    align-self: center;
    font-size: 3rem;
    line-height: 76px;
    padding: 8px;

}

.buttons {
    display:flex;
    flex-direction: column;
    height: 400px;
    gap:2px;
    justify-content: center;
    align-items: center;
    flex:1;
}

.row {
    display:flex;
    flex:1;
    justify-content: center;
    gap:2px;
}

button {
    height:72px;
    width:72px;
    margin:0px;
    background-color: white;
    border:2px solid black;
    flex:0 1 auto;
    border-top-right-radius: 4px;
    font-size: 2rem;
}

button.zero {
    width: 148px;
}





